@import "../../variables.scss";

.modal_ovelay {
  z-index: 10;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal_box {
    position: sticky;
    top: 15%;
    display: grid;
    place-items: center;

    background-color: $c-white;
    max-width: 30%;

    padding: 2rem 1rem;
    border-radius: 1rem;

    a {
      background-color: $c-purple;
      padding: 10px 50px;
      border-radius: 6px;
      color: $c-white;
      text-decoration: none;
      text-align: justify;
    }

    img {
      width: 90%;
      margin: 20px 0;
    }
  }

  @media (max-width: $max-width-small-screen) {
    .modal_box {
      max-width: 80%;
    }
  }
}
